body {
    background: #d0c2a1;
}

input {
  border: 5px black ridge;
  border-radius: 5px;
  margin-left: 43.5%;
}

p {
  font-size: 20px;
  font-weight: bold;
  color: #b9ffe3;
  font-family: Arial;
  text-align: center;
}
/**/
